
//Dimensions de base
$chrono_w: 550;
$chrono_h: 800;

$needle_w: 575;
$needle_h: 80;

$ratio: $chrono_h / $chrono_w * 100;
$ratio_pct: $ratio + unquote("%");

$needle_ratio: $needle_h / $needle_w * 100;
$needle_ratio_pct: $needle_ratio + unquote("%");

$needle_speed: .025s;


body{
	margin:0;
	padding: 0;
	user-select: none;
}

#chrono{
	position: relative;
	width: $chrono_w + px;
	height: $chrono_h + px;
	overflow:hidden;
	background-image:
			url('../img/needles-tools.png'),
			url('../img/base_550x800.png')
	;
	background-size: contain;
	background-repeat: no-repeat;
	transition: all .32s ease-in-out;
}

.needle{
	position: absolute;
	top: 317px;
	left: 213px;
	width: 43%;
	padding-top: $needle_ratio_pct;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transform-origin: 18% 50%;
}
.needle.eased{
	transition: all 1s linear;
}
#needle_s{
	background-image: url('../img/needle-s.png');
}
#needle_s.eased {
	transition: all $needle_speed;
}
#needle_i{
	background-image: url('../img/needle-i.png');
}
#needle_h{
	background-image: url('../img/needle-h.png');
}
#needle_d{
	top: 269.5px;
	background-image: url('../img/needle-d.png');
}
// 0 = dimanche
#needle_d[data-time=d1]{	transform: rotate(211deg);	}
#needle_d[data-time=d2]{	transform: rotate(230deg);	}
#needle_d[data-time=d3]{	transform: rotate(250deg);	}
#needle_d[data-time=d4]{	transform: rotate(269deg);	}
#needle_d[data-time=d5]{	transform: rotate(288deg);	}
#needle_d[data-time=d6]{	transform: rotate(308deg);	}
#needle_d[data-time=d0]{	transform: rotate(328deg);	}

#day{
	font-family: 'Titillium Web', sans-serif;
	line-height: 53px;
	position: absolute;
	top: 57%;
	left: 230px;
	text-align: center;
	color: black;
	font-size: 38px;
	letter-spacing: 9px;
}
